<div style="max-width: 42rem; margin-inline: auto; text-align: center;">
  <h2 class="text-center font-heading  heading-standard heading-style break-words none">
      {{ title }}
  </h2>
  <p style="margin-top: 20px;" class="collection-description">
    {{ description }}
  </p>
</div>