<div style="width: 100%; max-width: 1200px; padding: 12px 15px; margin: 0 auto;">
    <div>
        <script type="text/javascript"
                src="https://forms-akamai.smsbump.com/666984/form_217900.js?ver=1692063677"></script>
    </div>
</div>