{%- liquid
    assign block_heading_level = 'h2'
    assign metafields = page.metafields.funday
-%}
<section class="page-policy-section relative text-scheme-text bg-scheme-background overflow-hidden">
    <div class="section-content max-w-site mx-auto px-section relative z-10 py-section-vertical-spacing flex flex-col lg:flex-row">
        <div class="w-full {% if section.settings.show_side %}lg:w-2/3 lg:mr-14{% endif %} flex-col">
            {{ page.content }}
        </div> <!-- end first column -->


        {% if section.settings.show_side %}
            <div class="w-full lg:w-1/3 mt-14 lg:mt-0">
                <h2 class="font-heading text-[22px] lg:text-[26px] mb-6">{{ section.settings.side_title }}</h2>
                <div class="flex flex-row items-center">
                    {%- if section.settings.side_image != blank -%}
                        {{ section.settings.side_image | image_url: height: 45 | image_tag: class: 'w-auto mr-1 max-w-[3rem]' }}
                    {% endif %}
                    <p>{{ section.settings.side_text }}</p>
                </div>
            </div>
        {% endif %}

        {%- liquid
            for block in section.blocks
                case block.type
                    when 'background_shape'
                        render 'block-background-shape' with block: block, section: section
                    when 'background_pattern'
                        render 'block-background-pattern' with block: block, section: section, scheme: section.settings.color_scheme
                endcase
            endfor
        -%}
</section>

{%- liquid
    assign stickers = section.blocks | where: "type", "sticker"
    assign shape_dividers = section.blocks | where: "type", "shape_divider"
    for sticker in stickers
        render 'block-sticker' with block: sticker, section: section
    endfor
    for shape_divider in shape_dividers
        render 'block-shape-divider' with block: shape_divider, section: section
    endfor
-%}

{% schema %}
{
  "name": "Page Policy",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_side",
      "default": true,
      "label": "Show side"
    },
    {
      "type": "header",
      "content": "Side contents"
    },
    {
      "type": "text",
      "id": "side_title",
      "default": "Still have a question?",
      "label": "Side title"
    },
    {
      "type": "text",
      "id": "side_text",
      "default": "hello@fundaysweets.com",
      "label": "Additional text"
    },
    {
      "type": "image_picker",
      "id": "side_image",
      "label": "t:common.settings.image.label"
    }
  ],
  "blocks": [
    {
      "name": "t:common.blocks.shape_divider.name",
      "type": "shape_divider",
      "limit": 2,
      "settings": [
        {
          "type": "radio",
          "label": "t:common.blocks.shape_divider.settings.target_section.label",
          "id": "target_section",
          "default": "above",
          "options": [
            {
              "value": "above",
              "label": "t:common.blocks.shape_divider.settings.target_section.options.section_above.label"
            },
            {
              "value": "below",
              "label": "t:common.blocks.shape_divider.settings.target_section.options.section_below.label"
            }
          ],
          "info": "t:common.blocks.shape_divider.settings.target_section.info"
        },
        {
          "type": "select",
          "label": "t:common.blocks.shape_divider.settings.target_section_color_scheme.label",
          "id": "target_section_color_scheme",
          "default": "secondary",
          "options": [
            {
              "value": "primary",
              "label": "t:common.options.primary.label"
            },
            {
              "value": "secondary",
              "label": "t:common.options.secondary.label"
            },
            {
              "value": "tertiary",
              "label": "t:common.options.tertiary.label"
            },
            {
              "value": "quaternary",
              "label": "t:common.options.quaternary.label"
            }
          ],
          "info": "t:common.blocks.shape_divider.settings.target_section_color_scheme.info"
        },
        {
          "type": "select",
          "label": "t:common.blocks.shape_divider.settings.style.label",
          "id": "style",
          "default": "large-waves_1200x84",
          "options": [
            {
              "value": "large-waves_1200x84",
              "label": "t:common.blocks.shape_divider.settings.style.options.large_waves.label",
              "group": "Symmetrical"
            },
            {
              "value": "medium-waves_1200x43",
              "label": "t:common.blocks.shape_divider.settings.style.options.medium_waves.label",
              "group": "Symmetrical"
            },
            {
              "value": "small-waves_1200x20",
              "label": "t:common.blocks.shape_divider.settings.style.options.small_waves.label",
              "group": "Symmetrical"
            },
            {
              "value": "large-zig-zag_1200x65",
              "label": "t:common.blocks.shape_divider.settings.style.options.large_zig_zag.label",
              "group": "Symmetrical"
            },
            {
              "value": "medium-zig-zag_1200x37",
              "label": "t:common.blocks.shape_divider.settings.style.options.medium_zig_zag.label",
              "group": "Symmetrical"
            },
            {
              "value": "small-zig-zag_1200x21",
              "label": "t:common.blocks.shape_divider.settings.style.options.small_zig_zag.label",
              "group": "Symmetrical"
            },
            {
              "value": "waves-1-asymmetrical_1440x261",
              "label": "t:common.blocks.shape_divider.settings.style.options.waves_1.label",
              "group": "Asymmetrical"
            },
            {
              "value": "waves-2-asymmetrical_1440x330",
              "label": "t:common.blocks.shape_divider.settings.style.options.waves_2.label",
              "group": "Asymmetrical"
            },
            {
              "value": "tilt-1-asymmetrical_1440x101",
              "label": "t:common.blocks.shape_divider.settings.style.options.tilt_1.label",
              "group": "Asymmetrical"
            },
            {
              "value": "tilt-2-asymmetrical_1440x293",
              "label": "t:common.blocks.shape_divider.settings.style.options.tilt_2.label",
              "group": "Asymmetrical"
            },
            {
              "value": "mountains-1-asymmetrical_1440x293",
              "label": "t:common.blocks.shape_divider.settings.style.options.mountains_1.label",
              "group": "Asymmetrical"
            },
            {
              "value": "mountains-2-asymmetrical_1440x325",
              "label": "t:common.blocks.shape_divider.settings.style.options.mountains_2.label",
              "group": "Asymmetrical"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "flip_horizontal",
          "label": "t:common.blocks.shape_divider.settings.flip_horizontal.label"
        },
        {
          "type": "header",
          "content": "t:common.settings.header_animation"
        },
        {
          "type": "checkbox",
          "id": "enable_animation",
          "label": "t:common.blocks.shape_divider.settings.enable_animation.label",
          "info": "t:common.blocks.shape_divider.settings.enable_animation.info"
        },
        {
          "type": "radio",
          "id": "animation_direction",
          "label": "t:common.blocks.shape_divider.settings.animation_direction.label",
          "options": [
            {
              "value": "",
              "label": "t:common.options.right_to_left.label"
            },
            {
              "value": "reverse",
              "label": "t:common.options.left_to_right.label"
            }
          ],
          "default": ""
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Page Policy",
      "category": "ADVANCED LAYOUT"
    }
  ],
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "aside"
    ]
  }
}
{% endschema %}
